@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
   background-color: #F3DEBA !important;
   
}
.navbar{
    background-color: #A9907E;
}
.Room{
    display: flex;
    height: 850px;
}
.background-deg{
    height: 100%;
    width: 100%;
    left: -900px;
    position:absolute;
    background-color: #ABC4AA;
    right: 150px;
    transform: skew(40deg);
    z-index: -1;
 
}
.navbar{
    height: 80px;
}
.MainText{
    font-size: 56px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #A9907E;
    
}
.col-left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
}
@media screen and (max-width: 850px) {
.col-right{
    top: 350px;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.col-left{
    top: 50px;
}
.background-deg{
    left: -250px;
    transform: skew(20deg);
}
}
.coName{
    font-size: 64px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #675D50;
}